@media only screen and (min-width: 65em){
    main{
        display: grid;
        grid-template-columns:auto auto auto;
    }
    div{
        padding-left: 50px;
        padding-right: 50px;
    }
    .hierarchy{
        grid-column: 1/2;
        grid-row: 1;
    }
    .fitts{
        grid-column: 2/3;
        grid-area: 1;
    }
    .alignment{
        grid-column: 3/4;
        grid-area: 1;
    }
    p{
        padding-left: 30px;
        padding-right: 30px;
    }
    h2{
        font-size: 32px;
      }
      h3{
        font-size: 22px;
      }
      h4{
        font-size: 18px;
      }
}