@media only screen and (min-width: 32.5em){
main{
    display:grid !important;
    grid-template-columns:auto auto;
    grid-template-rows:auto auto;
    padding:20px;
}
.hierarchy{
    grid-column: 1/2;
    grid-row: 1;
}
.fitts{
    grid-column: 2/3;
    grid-area: 1;
}
.alignment{
    grid-column: 1/2;
    grid-area: 2;
}
p{
    padding-left: 10%;
    padding-right: 10%;
  }
div{
    padding: 20px;
 }
 h2{
    font-size: 35px;
  }
  h3{
    font-size: 25px;
  }
  h4{
    font-size: 20px;
  }
}