@media only screen and (min-width: 750px){
main{
    display:grid !important;
    grid-template-columns:auto auto auto;
    width: auto;
    margin: 20px;
}
.hierarchy{
    grid-column: 1/2;
    grid-row: 1;
}
.fitts{
    grid-column: 2/3;
    grid-area: 1;
}
.alignment{
    grid-column: 3/4;
    grid-area: 1;
}
p{
    padding-left: 10%;
    padding-right: 10%;
  }
}