@media only screen and (min-width: 1024px) {
  .logo {
    margin-top: 10px;
    margin-right: 20px;
  }

  header,
  nav {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  header h1 {
    max-width: 800px;
    padding-top: 40px;
  }

  header {
    padding-bottom: 20px;
  }

  header h1 {
    max-width: 100%;
    text-align: left;
    width: 700px;
    margin-right: 0;
  }

  ul li {
    padding-left: 3%;
    padding-right: 3%;
  }

  footer {
    text-align: right;
    padding-top: 50px;
    padding-right: 10%;
    padding-bottom: 50px;
    max-width: 100%;
    margin: 0 auto;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .hero {
    display: inline-block;
    max-width: 1000px;
    width: 100%;
    grid-column: 1/4;
  }

  .ads {
    display: block;
    grid-column: 4/5;
    grid-row: 2;
  }

  .about h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .about p {
    margin: .5px 10px 0px 0px;
  }

  .events-container {
    grid-column: 3/5;
  }

  .events p {
    padding: 0 20px 20px;
    margin: 10px;
}

  .weather {
    grid-column: 1/5;
  }

  .forecast div:nth-of-type(2) {
    margin: 0 5px;
    padding: 0 35px;
}

}
